# Environement files
.env/
.venv/ 

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.nbconvert.ipynb


# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace


# MacOS
.DS_Store